__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store
miditoolkit.egg-info/
@eaDir
*.pyc
*.pypirc
Thumbs.db
*.gz
venv
REMI-tempo-checkpoint/
REMI-tempo-chord-checkpoint/
data/
result/
*.user.*
assets/
docs/*.aux
docs/*.log
docs/*.nav
docs/*.out
docs/*.pdf
docs/*.snm
docs/*.toc
docs/*.bcf
docs/*.run.xml
docs/*.xdv
docs/*.fdb_latexmk
docs/*.fls
docs/*.bbl
docs/*.blg
docs/svg-inkscape
